    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>Hotel</h2>
                                <p class="item-intro text-muted">Good Food Great Life</p>
                                <img class="img-responsive img-centered" src="/static/leave1/image/hotelsdis.jpg" alt="">
                                <p>
                                    </br></br></br>Why Book Hotels on the Country’s Best Travel Site ?</br></br>

Planning a vacation or business trip, and haven’t found a hotel yet? Then use our web portal to find a hotel, which suits you in every way. The best travel site in India, TravelTek has the largest database of hotels in the country and outside. Our user-friendly website makes online hotel booking an easy task, which can be completed in mere minutes.

</br></br></br>How to book hotels on TravelTek.net?</br></br>

Now, suppose you are travelling to Goa. All you have to do is click on the “Hotels” tab on the homepage, and press the “Domestic” button. After typing Goa under the “I WANT TO GO” header, select your option. Then, enter the check-in and check-out dates, and tell us the number of adults and children, for whom the booking is to be made. On clicking the “Search Hotels” button, all the accommodation options are displayed on a single page. To make your task easier, our portal is provided with filters that you can use to narrow down your search. You can refine the results on the basis of star category, location, area, price range and even the facilities you want.

</br></br></br>What TravelTek.net has in store for you?</br></br>

We have all sorts of hotels, ranging from luxury to cheap, so whatever be your requirement, you will get the accommodation. When you find the hotel of your choice, just click on its name to see its detailed description. Apart from Goa, our database includes myriad properties in all holiday and business destinations in India. Our payment gateway is totally secure, so all your bank details are safe. A smooth transfer process means that making payment is as swift as searching the hotel. So, whether you are looking for budget or upscale hotels in Delhi, Shimla, Mumbai, Chennai or any other destination, visit TravelTek, and get the best deal.</p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

