{% extends 'leave1/base.html' %}

{% block content %}
<div align="center">
    <h2>The Travel Technology Expert<h2>
    <p style="font-size: medium">
    Your suppliers, your language, your currency - any distribution channel

    Traveltek is a world-leading travel technology specialist with almost two decades of experience building customised solutions for the global travel industry.

    Working closely in partnership with travel agents, tour operators and wholesalers the world over, we have developed advanced technology that meets their unique and complex needs in one single system.

    The Traveltek iSell solution is designed to help you sell travel products in the most efficient way possible. Integration with more than 200 suppliers of flights, hotels, cruises, packages and a range of ancillaries including tours, car hire, transfers and insurance, enables you to keep your existing commercial arrangements in place and retains your access to the four GDS providers and all major cruise lines. With Traveltek there is no need to jump between systems when you package each element of your client’s itinerary. Our solution provides a one-stop shop for your booking needs and integrates with Traveltek’s comprehensive suite of business management tools.</p>
</div>
{% endblock %}
