{% extends 'leave1/base.html' %}

{% block content %}
<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>Contact Us - Speak to a Traveltek team member today!</title>
		
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">		
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<meta name="keywords" content="">
		<meta name="description" content="Contact Traveltek today!">
{#		<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>#}
{#		<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>				#}
{#		<script src="http://static0.traveltek.net/images/base.site.traveltek.net/js/jquery.fancybox.js?v=2.1.5"></script>#}
{#		<script src="http://static1.traveltek.net/images/www.traveltek.net/2015/jquery.cycle.all.js"></script>#}
{#		<link rel="stylesheet" href="http://static2.traveltek.net/images/base.site.traveltek.net/css/jquery.fancybox.css" type="text/css" media="screen" />#}
{#		<link rel="stylesheet" href="http://static3.traveltek.net/images/www.traveltek.net/2015/theme/dist/toolkit-startup.min.css"/>#}
{#		<link rel="stylesheet" href="http://static0.traveltek.net/images/www.traveltek.net/2015/traveltek.css?version=25"/>#}
{#		<link href='https://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'/>#}
{#		<link rel="icon" type="image/png" href="http://static1.traveltek.net/images/www.traveltek.net/2015/favicon.png"/>#}
	</head>
	<body>
<h1 align="center">Contact Traveltek</h1><hr>
<div class="container ">
	<hr>
	<div class="row">
		<div class="col-md-8">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d287073.83180876524!2d-4.206056508199748!3d55.79733037212115!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x488838bc358342d1%3A0x5dc57a1171359361!2s2+Orbital+Ct%2C+East+Kilbride%2C+Glasgow%2C+South+Lanarkshire+G74+5PH!5e0!3m2!1sen!2suk!4v1409846597644" width="100%" height="200" frameborder="0" style="border:0"></iframe>
		</div>
		<div class="col-md-4">
			<address>
				<strong class="title">Headquarters</strong><br>
				<p>2 Orbital Court<br />
East Kilbride<br />
G74 5PH<br />
United Kingdom</p>

				
				<strong class="tel">Telephone</strong><br>
				+44 (0)1355 246111				
			</address>
		</div>
	</div>
	<hr>
</div><div class="container ">
	<hr>
	<div class="row">
		<div class="col-md-8">
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1237768.1877473297!2d-1.5085628000000002!3d52.70483129999999!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4879fe10bc6ae581%3A0x70d9a5cd830e4e30!2sTanyard+House%2C+37+High+St%2C+Measham%2C+Swadlincote%2C+Leicestershire+DE12+7HR!5e0!3m2!1sen!2suk!4v1409238954109" width="100%" height="200" frameborder="0" style="border:0"></iframe>
		</div>
		<div class="col-md-4">
			<address>
				<strong class="title">UK Midlands Office</strong><br>
				<p>1 Tanyard House<br />
37 High Street<br />
Measham<br />
DE12 7HR<br />
United Kingdom</p>

				
				<strong class="tel">Telephone</strong><br>
				+44 (0)1530 273439				
			</address>
		</div>
	</div>
	<hr>
</div><div class="container ">
	<hr>
	<div class="row">
		<div class="col-md-8">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26512.39691902422!2d151.2050408000001!3d-33.83683109999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12aef200660489%3A0x3c8b309db07611fc!2s25+Berry+St%2C+North+Sydney+NSW+2060%2C+Australia!5e0!3m2!1sen!2suk!4v1427870865505" width="100%" height="200" frameborder="0" style="border:0"></iframe>
		</div>
		<div class="col-md-4">
			<address>
				<strong class="title">Australia Office</strong><br>
				<p>Traveltek Australia Ltd.<br />
25 Berry Street<br />
North Sydney<br />
NSW 2060<br />
Australia</p>

				
				<strong class="tel">Telephone</strong><br>
				+61 2 9922 2003				
			</address>
		</div>
	</div>
	<hr>
</div><div class="container ">
	<hr>
	<div class="row">
		<div class="col-md-8">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3582.402431274143!2d-80.26456164896334!3d26.118418500035816!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d907c38698dcc7%3A0xdc27e286a671ca26!2s150+S+Pine+Island+Rd+%23300%2C+Plantation%2C+FL+33324%2C+USA!5e0!3m2!1sen!2suk!4v1481301379182" width="100%" height="200" frameborder="0" style="border:0"></iframe>
		</div>
		<div class="col-md-4">
			<address>
				<strong class="title">USA Office</strong><br>
				<p>Traveltek Inc.<br />
150 S. Pine Island Road,<br />
Suite 300,<br />
Plantation,<br />
Florida,<br />
33324</p>

				
				<strong class="tel">Telephone</strong><br>
				+1 305 330 9383				
			</address>
		</div>
	</div>
	<hr>
</div><div class="container ">
	<hr>
	<div class="row">
		<div class="col-md-8">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3610.523393672277!2d55.27359886549608!3d25.185566033901594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f6831f6693c85%3A0xb5b269f7897f4978!2sOpal+Tower+-+Dubai+-+United+Arab+Emirates!5e0!3m2!1sen!2suk!4v1477393440846" width="100%" height="200" frameborder="0" style="border:0"></iframe>
		</div>
		<div class="col-md-4">
			<address>
				<strong class="title">Dubai Office</strong><br>
				<p>Opal Tower, Burj Khalifa Boulevard<br />
7th Floor, office 701<br />
Dubai, UAE</p>

				
				<strong class="tel">Telephone</strong><br>
				+971 4 427 3734				
			</address>
		</div>
	</div>
	<hr>
</div><div class="container India">
	<hr>
	<div class="row">
		<div class="col-md-8">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3807.3063456571545!2d78.55829945093369!3d17.397079988014283!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTfCsDIzJzQ5LjUiTiA3OMKwMzMnMzcuOCJF!5e0!3m2!1sen!2suk!4v1453377413771" width="100%" height="200" frameborder="0" style="border:0"></iframe>
		</div>
		<div class="col-md-4">
			<address>
				<strong class="title">India Office</strong><br>
				<p>3rd Floor, Plot.No. 40<br />
PH.No. 1-95/40, Raj Nagar Colony<br />
Beside Rajya Lakshmi Theatre<br />
Uppal, Hyderabad - 500039<br />
Telangana, India</p>

				
				<strong class="tel">Telephone</strong><br>
								
			</address>
		</div>
	</div>
	<hr>
</div>


		<script src="http://static1.traveltek.net/images/www.traveltek.net/2015/theme/dist/toolkit.min.js"></script>

		<script>
			var image = Math.floor((Math.random() * 3) + 1);
			
			var back = '';
			if (image === 1) {
				back = 'http://static3.traveltek.net/images/www.traveltek.net/2015/isell.jpg';

			} else if (image === 2) {
				back = 'http://static3.traveltek.net/images/www.traveltek.net/2015/itour.jpg';

			} else if (image === 3) {
				back = 'http://static3.traveltek.net/images/www.traveltek.net/2015/cruise.jpg';

			}
			
			jQuery('#topdiv').css({ backgroundImage: 'url(' + back + ')', backgroundSize: '100%' });			
			

			
		</script>

<!-- ClickTale Bottom part -->
<div id="ClickTaleDiv" style="display: none;"></div>
<script type="text/javascript">
if(document.location.protocol!='https:')
document.write(unescape("%3Cscript%20src='http://s.clicktale.net/WRc5.js'%20type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
if(typeof ClickTale=='function') ClickTale(4020,0.15,"www09");
</script>
<!-- ClickTale end of Bottom part -->

<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1027675054;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1027675054/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

</body>
</html>
{% endblock %}