{% extends 'leave1/base.html' %}

{% block content %}
    <div align="center">
        <h1>Manage Bookings and Customers with Ease</h1>
        <h2>Modern back-office and CRM solutions designed to meet the complex needs of the travel trade</h2>
        <p style="font-size: medium">
    When you take advantage of Traveltek’s tools for creating and selling your travel portfolio, you will need a sophisticated system for managing the customer enquiries and multi-currency bookings that come flooding in. Fortunately, all of our solutions are fully integrated and communicate with one another via one single platform. But because that data is yours, we offer modular solutions too. You can use our API to pull out booking data or we can integrate an API that syncs your bookings and customer data to a third-party system – the choice is yours.</p>
    </div>
{% endblock %}